node_modules
public/bundle.js
public/bundle.js.map
secrets.js
.DS_Store
npm-debug.log
yarn-error.log

fitbot*.json
apiKey.json
credentials.tar.gz
.bashrc
fitBotLambda/node_modules
fitBotLambda/*.zip
bin
tests_output

fitbot-rasa/credentials.yml
fitbot-rasa/rasa_core.log
