<h3>Entities</h3>
<div style="display: flex; justify-content: space-evenly;">
  <div>
    <form [formGroup]="createEntityForm" (ngSubmit)="onSubmit()">
      <input class="input-field" type="text" placeholder="Create an entity" formControlName="name"/>
      <input [disabled]="createEntityForm.invalid" type="submit" style="display: none"/>
    </form>
    <ul class="training-data-list">
      <li *ngFor="let entity of entities; index as i">
        <a [routerLink]="['/train/entities', i]">{{ entity.name }}</a>
        <span style="float: right">
          <button>Edit</button>
          <button (click)="deleteEntity(i)">Delete</button>
        </span>
      </li>
    </ul>
  </div>
  <div style="width: 50%">
    <router-outlet></router-outlet>
  </div>
</div>
