<div id="navbar">
  <div id="navbar-title">
    <i class="fas fa-carrot"></i>
    <a routerLink="/"><h1>Fitbot</h1></a>
  </div>
  <nav *ngIf="!authService.isLoggedIn">
    <div>
      <a routerLink="/login" class="navlink">Login</a>
      <a routerLink="/signup" class="navlink">Sign Up</a>
    </div>
  </nav>
  <nav *ngIf="authService.isLoggedIn">
    <div>
      <a routerLink="/train" class="navlink">Train Rasa</a>
      <a (click)="logout()" class="navlink">Logout</a>
    </div>
  </nav>
</div>
