<div>
  <input
    class="input-field"
    type="text"
    placeholder="enter a training phrase"
  />
  <ul class="training-data-list">
    <li *ngFor="let phrase of intent.trainingPhrases">
      <div style="display: flex; justify-content: space-between;">
        <span>
          <button
            class="annotation"
            [ngStyle]="setColor(phrase, word)"
            *ngFor="let word of phrase.text.split(' ')"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            {{ word }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let entity of entities">
              <div style="display: flex; align-items: center">
                <span
                  [ngStyle]="{
                    display: inline - block,
                    backgroundColor: entity.color,
                    width: '10px',
                    height: '10px',
                    borderRadius: '50%',
                    marginRight: '1em'
                  }"
                ></span>
                <span>
                  {{ entity.name }}
                </span>
              </div>
            </button>
          </mat-menu>
        </span>
        <span>
          <button>Edit</button>
          <button>Delete</button>
        </span>
      </div>
      <hr />
    </li>
  </ul>
</div>
