<div>
  <input
    class="input-field"
    type="text"
    placeholder="enter a training phrase"
  />
  <ul class="training-data-list">
    <li *ngFor="let phrase of intent.trainingPhrases">
      <button
        (dblclick)="setEntity()"
        [ngStyle]="setColor(phrase, word)"
        href="#"
        class="annotation"
        *ngFor="let word of phrase.text.split(' ')"
      >
        {{ word }}
      </button>

      <span style="float: right; padding-right: 1em">
        <button>Edit</button>
        <button>Delete</button>
      </span>
      <hr />
    </li>
  </ul>
</div>
